<div class="container">

    <div class="input-container">

        <div class="input">
            <div class="expression">
                {{expression}}
            </div>

            <div class="active">
                {{activeNUmber}}
            </div>

        </div>

    </div>

    <div class="board">

        <!-- / -->
        <div class="key op" (click)="inputOperation(1)">&divide;</div>
        <div class="key op" (click)="inputOperation(6)">^2</div>
        <div class="key op" (click)="resetAll()">c</div>
        <!-- b -->
        <div class="key op" (click)="sliceActiveNumb()">&lt;</div>

        <div class="key" (click)="inputDigital(7)">7</div>
        <div class="key" (click)="inputDigital(8)">8</div>
        <div class="key" (click)="inputDigital(9)">9</div>
        <!-- * -->
        <div class="key op" (click)="inputOperation(2)">&times;</div>

        <div class="key" (click)="inputDigital(4)">4</div>
        <div class="key" (click)="inputDigital(5)">5</div>
        <div class="key" (click)="inputDigital(6)">6</div>
        <!-- - -->
        <div class="key op" (click)="inputOperation(3)">&minus;</div>

        <div class="key" (click)="inputDigital(1)">1</div>
        <div class="key" (click)="inputDigital(2)">2</div>
        <div class="key" (click)="inputDigital(3)">3</div>
        <div class="key op" (click)="inputOperation(4)">+</div>

        <div class="key" (click)="inputDigital(0)">0</div>
        <!-- r -->
        <div class="key op" (click)="inputOperation(5)">&radic;</div>
        <div class="key op ex" (click)="executeExpression()">=</div>

    </div>

</div>