 footer {
     padding: 10px 200px 100px 200px;
     display: grid;
     grid-template-columns: 50% 25% 25%;

     position: relative;
     width: 100%;
     bottom: 0;
     z-index: 5;
     left: 0;
     box-sizing: border-box;

     color: var(--text-color);
 }

 footer .footer-tab {
     position: relative;
 }

 footer .list-tab {
     margin-left: auto;
 }

 footer .footer-tab .footer-logo {
     text-transform: uppercase;
     letter-spacing: 6px;
     font-size: 32px;
     font-weight: 700;
 }

 footer .footer-tab .footer-logo-text {
     font-size: 18px;
     font-weight: 700;
 }

 footer .footer-tab .footer-logo-info {
     position: absolute;
     bottom: 0;
     left: 0;
     opacity: 0.5;
 }

 footer .footer-tab h5 {
     font-size: 24px;
     font-weight: 700;
     color: var(--accent-color);
     margin: 0;
 }

 footer .footer-tab ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     font-family: 'Gilroy', sans-serif;
 }

 footer .footer-tab ul li {
     font-size: 18px;
     font-weight: 500;
     cursor: pointer;
     margin-top: 16px;
 }