<footer>

    <div class="footer-tab">

        <span class="footer-logo">mntn</span>

        <p class="footer-logo-text">
            Get out there & discover your next slope, mountain & destination!
        </p>

        <span class="footer-logo-info">
            Copyright 2019 MNTN, Inc. Terms & Privacy
        </span>

    </div>

    <div class="footer-tab list-tab">

        <h5>More on The Blog</h5>

        <ul>
            <li> <a href="#" class="hovered-link">About MNTN</a></li>
            <li> <a href="#" class="hovered-link">Contributors & Writers</a></li>
            <li> <a href="#" class="hovered-link">Write For Us</a></li>
            <li> <a href="#" class="hovered-link">Contact Us</a></li>
            <li> <a href="#" class="hovered-link">Privacy Policy</a></li>
        </ul>

    </div>

    <div class="footer-tab list-tab">

        <h5>More on MNTN</h5>

        <ul>
            <li> <a href="#" class="hovered-link">The Team</a></li>
            <li> <a href="#" class="hovered-link">Jobs</a></li>
            <li> <a href="#" class="hovered-link">Press</a></li>
        </ul>

    </div>

</footer>